header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
}

header nav ul {
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin-right: 25px;
    cursor: pointer;
}

